.companylist-bg {
  background-color: rgba(26, 28, 43, 1);
}

.transform-company {
  transition: transform 0.3s ease-out;
}

.transform-company:hover {
  transform: translateY(-5px);
}

.companylist-p {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  color: hsla(0, 0%, 100%, 0.6);
}

.vertical-divider {
  width: 1px;
  background-color: hsla(0, 0%, 100%, 0.2);
}

.vertical-divider:last-child {
  display: none;
}
