* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  letter-spacing: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
/* width */
.w-auto {
  width: auto;
}

.w-121 {
  width: 121px;
}

.w-100 {
  width: 100%;
}
.w-88 {
  width: 88%;
}

.max-w-1300 {
  max-width: 1300px;
}

.max-w-28 {
  max-width: 28px;
}

.max-w-156 {
  max-width: 156px;
}

.max-w-85 {
  max-width: 85px;
}

.max-w-340 {
  max-width: 340px;
}

.max-w-800 {
  max-width: 800px;
}
.min-w-82 {
  min-width: 82px;
}
/* margin */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-20 {
  margin-top: 20px;
}

/* flex */
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.align-item-center {
  align-items: center;
}

.align-item-flex-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.block {
  display: block;
}

.overflow-hidden {
  overflow: hidden;
}
/* flex-end */

/* gap start */
.gap-15 {
  gap: 15px;
}

.gap-9 {
  gap: 9px;
}
/* gap end */

/* height start */
.h-100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

.max-h-25 {
  max-height: 25px;
}

.max-h-240 {
  max-height: 240px;
}

/* height end */
h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
  color: #bfc1c599;
}

h2 {
  font-size: 32px;
  line-height: 1.3;
  color: #020a19;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  line-height: 26px;
  color: #020a19;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}

@media (min-width: 768px) {
}

h4 {
  font-size: 20px;
  color: #020a19;
  line-height: 32px;
  font-weight: 700;
}

.h-53 {
  height: 53px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.color-h2 {
  color: rgba(255, 255, 255, 1);
}
/* margin start */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
/* margin end*/
img {
  max-width: 100%;
  height: auto;
}

input {
  padding: 0px 10px;
  height: 53px;
  border-radius: 3px;
  font-size: 17px;
  line-height: 21px;
  border: 0 solid #e5e7eb;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgb(205, 199, 199);
}

input:active {
  outline: none;
}

input:focus {
  outline: none;
}

button {
  background-color: #dd0735;
  padding: 10px 26px;
  display: inline-block;
  border: none;
  color: #ffffff;
  font-weight: 500;
  line-height: 24px;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #a50527;
}

/* border radius start */
.radius-10 {
  border-radius: 10px;
}
/* border radius end */

/* position Start*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
/* position end*/
.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

.z-5 {
  z-index: 5;
}

.z-10 {
  z-index: 10;
}

/* padding start */
.pb-10 {
  padding-bottom: 10px;
}
.pb-40 {
  padding-bottom: 40px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pt-20 {
  padding-top: 20px;
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767) {
  .hidden-sm {
    display: none;
  }
}
/* Styles for screens 768px and wider */
@media (min-width: 768px) {
  .py-md-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .align-item-baseline-md {
    align-items: baseline;
  }

  .justify-between-md {
    justify-content: space-between;
  }

  .hidden-md {
    display: none;
  }

  .max-w-md-27 {
    max-width: 27%;
  }

  .max-w-md-380 {
    max-width: 380px;
  }
  .text-left-md {
    text-align: left;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    line-height: 40px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  .pb-md-60 {
    padding-bottom: 60px;
  }

  .pb-md-20 {
    padding-bottom: 20px;
  }

  .pt-md-40 {
    padding-top: 40px;
  }
}

/* Styles for screens 1024px and wider */
@media (min-width: 1024px) {
  .py-lg-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .px-lg-25 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .max-width-lg-40 {
    max-width: 40px;
  }

  h2 {
    font-size: 40px;
  }
  .fs-lg-24 {
    font-size: 24px;
  }
  .hidden-lg {
    display: none;
  }

  .block-lg {
    display: block;
  }

  .py-lg-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

/* Styles for screens 1280px and wider */
@media (min-width: 1280px) {
  .px-xl-45 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .max-w-105 {
    max-width: 105px;
  }

  .block-xl {
    display: block;
  }
}
