* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  letter-spacing: normal;
}

a {
  text-decoration: none;
  color: inherit;
}
/* width */

@media (min-width: 768px) {
  .max-w-md-27 {
    max-width: 27%;
  }
}

.w-121 {
  width: 121px;
}

.w-100 {
  width: 100%;
}
.w-88 {
  width: 88%;
}

.max-w-1300 {
  max-width: 1300px;
}

.max-w-156 {
  max-width: 156px;
}

.min-w-82 {
  min-width: 82px;
}
/* margin */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* flex */
.flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}
@media (min-width: 768px) {
  .align-item-baseline-md {
    align-items: baseline;
  }
}

.justify-between {
  justify-content: space-between;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}
/* flex-end */

/* gap start */
.gap-15 {
  gap: 15px;
}
/* gap end */

/* height start */
.h-100 {
  height: 100%;
}

.max-h-25 {
  max-height: 25px;
}

/* height end */
.h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
  color: #bfc1c599;
}

.h2 {
}

.h-53 {
  height: 53px;
}
.color-h2 {
  color: rgba(255, 255, 255, 1);
}
/* margin start */
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
/* margin end*/
img {
  max-width: 100%;
  height: auto;
}

input {
  padding: 0px 10px;
  height: 53px;
  border-radius: 3px;
  font-size: 17px;
  line-height: 21px;
  border: 0 solid #e5e7eb;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: rgb(205, 199, 199);
}

input:active {
  outline: none;
}

input:focus {
  outline: none;
}

button {
  background-color: #dd0735;
  padding: 10px 26px;
  display: inline-block;
  border: none;
  color: #ffffff;
  font-weight: 500;
  line-height: 24px;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  background-color: #a50527;
}

/* position Start*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
/* position end*/
.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}

/* padding start */

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 1280px) {
  .px-xl-45 {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: 1024px) {
  .px-lg-25 {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (min-width: 768px) {
  .py-md-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
